@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos</h1>
    <p>O projeto Sistema de Reservas para Coworking visa oferecer uma aplicação que permita a gestão de reservas de salas de trabalho em um ambiente compartilhado. 
       A aplicação foi desenvolvida em ASP.NET Core, com integração a uma API de mapas e funcionalidades para cadastrar clientes, funcionários, salas e reservas.
       O sistema também faz cálculos automáticos do custo das reservas com base no preço por hora das salas e na duração da reserva. 
       Além disso, foram implementados relacionamentos 1e N, validações de dados, e cobertura de testes para garantir a confiabilidade das operações do sistema. </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
