@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center"> 
<h1>@ViewData["Title"]</h1>

    <p>Trabalho - AVD II Desenvolvimento Web .Net C# apresentado na disciplina de Programação Orientada a Objetos II do Curso de Sistemas de Informação do Centro Universitário de Volta Redonda. .</p>
</div>