@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="container text-center">
    <!-- Título -->
    <h1 class="display-4 font-weight-bold text-primary">@ViewData["Title"]</h1>

    <!-- Descrição do trabalho -->
    <p class="lead text-muted">
        A sua privacidade é importante para nós. No contexto do desenvolvimento do sistema "CollabSpace", a presente Política de Privacidade descreve como coletamos, utilizamos e protegemos as informações fornecidas pelos usuários ao utilizar nossos serviços. Esta política é parte de um trabalho acadêmico desenvolvido para a disciplina de Programação Orientada a Objetos II, do Curso de Sistemas de Informação do Centro Universitário de Volta Redonda, como parte do projeto "AVD II - Desenvolvimento Web .Net C#".

        Ao acessar ou utilizar nossos serviços, você concorda com os termos e condições descritos nesta Política de Privacidade. Se tiver dúvidas ou preocupações, não hesite em entrar em contato conosco.
    </p>
</div>

<!-- Estilos Personalizados -->
<style>
    /*/

    /* Título centralizado e estilizado */
    .display-4 {
        font-size: 3rem;
        font-weight: 700;
        color: #1A3D5C;
    }

    /* Texto do parágrafo */
    .lead {
        padding-top:70px;
        font-size: 1.25rem;
        color: #555;
        line-height: 1.6;
    }

    /* Centralização e margin */
    .container {
        margin-top: 50px;
        padding-right:50px;
        padding-left:50px;
    }

    .font-italic {
        font-style: italic;
    }
</style>

<!-- Importando fonte do Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
